nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 0 30px;
}

.nav-list {
  list-style: none;
}

.main {
  padding: 30px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

button {
  background-color: blue;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 0 8px 6px -6px black;
}

button:hover {
  background-color: blueviolet;
}

.logout-button {
  background-color: red;
}

.logout-button:hover {  
  background-color: rgb(242, 93, 79);
}

input {
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 8px;
}


.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--light-red-2);
  color: var(--grey4);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.error {
  background-color: red;
}

.info {
  background-color: green;
}